:root {
  /* Theme colors */
  --backgroundColor: #2e3c4d;
  --backgroundColor2: #EEEEEE;
  --componentBackgroundColor: #FFFFFF;
  --red: #FF4848;
  --green: #08a82b;
  --blue: #4596FF;
  --purple: #FF6AE4;
  --white: #FFFFFF;
  --textBlack: #000000;
  --textWhite: #FFFFFF;
  --statLinesColor: #DBDBDB;

  /* Theme font */
  font-family: sans-serif;
}

body {
  overflow: hidden;
  background-color: var(--backgroundColor);
  padding: 0px;
  margin: 0px;
}

h3 {
  margin: 0;
}
